<!DOCTYPE html>
<html>

<head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        html,
        body,
        h1,
        h2,
        h3,
        h4 {
            font-family: "Lato", sans-serif
        }
        
        .mySlides {
            display: none
        }
        
        .w3-tag,
        .fa {
            cursor: pointer
        }
        
        .w3-tag {
            height: 15px;
            width: 15px;
            padding: 0;
            margin-top: 6px
        }
    </style>
</head>

<body>

    <!-- Links (sit on top) -->
    <div class="w3-top">
        <div class="w3-row w3-large w3-light-grey">
            <div class="w3-col s3">
                <a href="/home" class="w3-button w3-block">Pocetna</a>
            </div>
            <div class="w3-col s3">
                <a href="/author" class="w3-button w3-block">Autor</a>
            </div>
            <div class="w3-col s3">
                <a href="/about" class="w3-button w3-block">O nama</a>
            </div>
        </div>
    </div>

    <!-- Content -->
    <div class="w3-content" style="max-width:1100px;margin-top:80px;margin-bottom:80px">

        <div class="w3-panel">
            <h1><b>O autoru</b></h1>
        </div>

        <!-- Grid -->
        <div class="w3-row-padding" id="about">
            <div class="w3-center w3-padding-64">
                <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Ko sam ja</span>
            </div>

            <div class="w3-third w3-margin-bottom">
                <div class="w3-card-4">
                    <img src="assets/prednosti3.png" alt="Maki" style="width:100%">
                    <div class="w3-container">
                        <h3>Prednosti</h3>
                        <ul>
                            <li>Strast i posvećenost: Poseduje strast i posvećenost za inovacijama i tehnologiji, što je ključno za uspeh u oblasti razvoja softverskih rešenja.</li>
                            <li>Vizija: Ima jasnu viziju stvaranja alata koji olakšavaju rad pravosudnim institucijama, što ukazuje na duboko razumevanje industrije i potreba korisnika.</li>
                            <li>Iskustvo: Sa preko deset godina iskustva u razvoju softverskih rešenja za pravosudne institucije, poseduje značajno praktično znanje i veštine potrebne za uspeh u ovom sektoru.</li>
                            <li>Razumevanje korisnika: Razvija tehnologije koje su intuitivne i jednostavne za korišćenje, što je ključno za usvajanje i uspeh proizvoda na tržištu.</li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="w3-third w3-margin-bottom">
                <div class="w3-card-4">
                    <img src="assets/ja3.png" alt="stefan" style="width:100%">
                    <div class="w3-container">
                        <h3>Stefan Cvetkovic</h3>
                        <p class="w3-opacity">CEO & Founder</p>
                        <p>Svestrani sam preduzetnik sa strascu za inovacije i tehnologiju. Moja vizija je stvoriti alate koji olaksavaju rad pravosudnim institucijama. Uvek sam posvecen unapredenju pravne efikasnosti i pruzanju podrske pravdi kroz moderna
                            resenja. Imam preko deset godina iskustva u razvoju softverskih resenja koja su transformisala nacin na koji pravosudne institucije funkcionisu. Moje obrazovanje i profesionalno iskustvo omogucili su mi da razumem kompleksne
                            probleme sa kojima se suocavaju pravni profesionalci, i da razvijem tehnologije koje su intuitivne i jednostavne za koriscenje.
                            <br>
                            <br>
                        </p>
                        <p><button class="w3-button w3-light-grey w3-block">Kontakt</button></p>
                    </div>
                </div>
            </div>
            <div class="w3-third w3-margin-bottom">
                <div class="w3-card-4">
                    <img src="assets/mane2.png" alt="Maki" style="width:100%">
                    <div class="w3-container">
                        <h3>Mane</h3>
                        <ul>
                            <li>Moguće preterano fokusiranje na tehnologiju: Preterana fascinacija tehnologijom može dovesti do toga da zanemari stvarne potrebe korisnika ili da razvija rešenja koja su previše kompleksna ili neprilagođena stvarnim potrebama.</li>
                            <li>Nedostatak timskog rada: Ukoliko je previše fokusiran na sopstvenu viziju, može propustiti dragocen feedback i ideje drugih članova tima ili korisnika, što može ograničiti inovativnost i uspeh proizvoda.</li>
                            <li>Ograničenja u razumevanju pravnih sistema: Iako ima obrazovanje i iskustvo u tehnološkom sektoru, mogu postojati rupe u razumevanju pravnih sistema i procesa, što može uticati na efikasnost razvijenih rešenja ili njihovu primenu
                                u realnim pravnim okruženjima.</li>
                        </ul>
                    </div>
                </div>
            </div>



        </div>

        <!-- Contact -->
        <div class="w3-center w3-padding-64" id="contact">
            <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Kontaktirajte autora</span>
        </div>

        <form class="w3-container" action="/action_page.php" target="_blank">
            <div class="w3-section">
                <label>Ime</label>
                <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" type="text" name="Name" required>
            </div>
            <div class="w3-section">
                <label>E-mail</label>
                <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" type="text" name="Email" required>
            </div>
            <div class="w3-section">
                <label>Tema</label>
                <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" name="Subject" required>
            </div>
            <div class="w3-section">
                <label>Poruka</label>
                <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" name="Message" required>
            </div>
            <button type="submit" class="w3-button w3-block w3-black">Posalji</button>
        </form>

    </div>

    <!-- Footer -->

    <footer class="w3-container w3-padding-32 w3-light-grey w3-center">
        <h4>Kontakt: 021/4562216</h4>
        <h4>Adresa: Trg Dositeja Obradovica 3</h4>
        <a href="/author" class="w3-button w3-black w3-margin"><i class="fa fa-arrow-up w3-margin-right"></i>Idi na vrh</a>
        <div class="w3-xlarge w3-section">
            <i class="fa fa-facebook-official w3-hover-opacity"></i>
            <i class="fa fa-instagram w3-hover-opacity"></i>
            <i class="fa fa-snapchat w3-hover-opacity"></i>
            <i class="fa fa-pinterest-p w3-hover-opacity"></i>
            <i class="fa fa-twitter w3-hover-opacity"></i>
            <i class="fa fa-linkedin w3-hover-opacity"></i>
        </div>
        <p>Powered by NS-TEAM,<br>Sva prava zadrzana</p>
    </footer>



</body>

</html>